<template>
<div>
            <h4> this is user page</h4>
            {{user}}

</div>
    
</template>

<script>
export default {
    props:["user"],   //拿根组件绑定的属性值
    data(){
        return {

        }
    }

}
</script>


<style scoped>

</style>
