<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i> 服务器列表
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <div class="handle-box">
                <el-button
                    type="primary"
                    icon="el-icon-delete"
                    class="handle-del mr10"
                    @click="delAllSelection"
                >批量删除</el-button>

                <el-select v-model="query.engine" placeholder="Engine" class="handle-select mr10">
                    <el-option key="1" label="mysql" value="mysql"></el-option>
                    <el-option key="2" label="mongodb" value="mongodb"></el-option>
                    <el-option key="3" label="redis" value="redis"></el-option>
                </el-select>

                <el-input v-model="query.name" placeholder="实例名" class="handle-input mr10"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
            </div>
            
            <el-table
                :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
                @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55" align="center"></el-table-column>
                <el-table-column prop="id" label="资产ID" width="65" align="center"></el-table-column>
                <el-table-column prop="name" label="实例名称"></el-table-column>
                <el-table-column prop="type" label="类型" width="90"> </el-table-column>
                   
                <el-table-column prop="engine" label="Engine" width="90"></el-table-column>

                <el-table-column prop="version" label="Version" width="80"></el-table-column>
  

                <el-table-column prop="date" label="创建时间" ></el-table-column>

                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
                        <el-button
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.$index, scope.row)"
                        >编辑</el-button>

                        <el-button
                            type="text"
                            icon="el-icon-delete"
                            class="red"
                            @click="handleDelete(scope.$index, scope.row)"
                        >删除</el-button>

                    </template>
                </el-table-column>

            </el-table>


            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
            <el-form ref="form" :model="form" label-width="70px">
                <el-form-item label="用户名">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="类型">
                    <el-input v-model="form.type"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveEdit">确 定</el-button>
            </span>
            
        </el-dialog>
    </div>
</template>

<script>
import { fetchData } from '../../api/dblist';   // 导入数据源
import { fetchDatadeldb } from '../../api/dbdel';    //导入删除数据的api
import { fetchDatadbupdate } from '../../api/dbupdate';   // 更新数据库接口

export default {
    name: 'dbtable',
    data() {
        return {
            query: {
                engine: '',
                name: '',
                pageIndex: 1,
                pageSize: 10
            },
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    methods: {
        // 获取 easy-mock 的模拟数据
        getData() {
            fetchData(this.query).then(res => {
                console.log(res);
                this.tableData = res.list;
                this.pageTotal = res.pageTotal || 50;
            });
        },
        // 触发搜索按钮
        handleSearch() {
            this.$set(this.query, 'pageIndex', 1);
            console.log(this.query);    // 打印输出
            this.getData();
        },
        // 删除操作
        handleDelete(index, row) {
            // 二次确认删除
            this.$confirm('确定要删除吗？', '提示', {
                type: 'warning'
            })
                .then(() => {
                    fetchDatadeldb({
                        id: row.id               //传入id删除数据
                    }).then(res => {
                        console.log(res)
                    })
                    // this.tableData.splice(index, 1);           // 真实的删除操作
                })
                .catch(() => {});
        },
        // 多选操作
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        delAllSelection() {
            const length = this.multipleSelection.length;
            let str = '';
            this.delList = this.delList.concat(this.multipleSelection);
            for (let i = 0; i < length; i++) {
                str += this.multipleSelection[i].name + ' ';
            }
            this.$message.error(`删除了${str}`);
            this.multipleSelection = [];
        },
        // 编辑操作
        handleEdit(index, row) {
            this.idx = index;
            // console.log(index);     // 输出id号
            this.form = row;
            // console.log(row.type);      //输出了类型type
            // console.log(row.name);      //输出了name
            this.editVisible = true;
        },
        // 保存编辑
        saveEdit() {
            this.editVisible = false;
            this.$message.success(`修改第 ${this.idx + 1} 行成功`);  // 保存成功提示内容
            fetchDatadbupdate({            // 更新数据发送get请求给后端
                name: this.form.name,     // 传参给后端
                type: this.form.type
            }).then(res=>{
                console.log(res);
                this.$set(this.tableData, this.idx, this.form);  // 实际操作内容

            }
            )
            console.log(this.form.name);    // 保存标记打印输出内容
            // console.log(this.idx);           //输出的是id号
        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
/* 图标css */
.table-td-thumb {                   
    display: block;
    margin: auto;
    width: 50px;
    height: 40px;
}
</style>
