<template>
  <div id="app">
      <header>
          <router-link to="/home">Home</router-link>
          <router-link to="/about">About</router-link>
      </header>
      <!-- 对应的组件内容渲染到router-view中 -->
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

</style>
