<html>
<head>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>

</head>

<div id="app">
  <!-- <tr>
    <td>
      {{ message[0].name }}
      <br>
      {{ message[1].name }}
    </td>

  </tr> -->


  <table border="1">
    <tr>
      <th>name</th>
      <th>cpu</th>
      <th>memory</th>
    </tr>
      <tr v-for="item in message">
        
          <td>{{ item.name }}</td>
          <td>{{ item.cpu }}</td>
          <td>{{ item.memory }}</td>
        </tr>

  </table>
 
</div>

<script>

var app = new Vue({
  el: '#app',
  data () {
    return {
      message: null
    }
  },
  mounted () {
    axios.get('http://localhost:5000/api/serverlist').then(response => {
      this.message = response.data.list   // 直接取数据
    })
  }
})


</script>



</html>