<template>
	
	<view>
		<h3>准备开地图导航中......</h3>
		
	</view>

</template>

<script>
export default {
	onLoad() {
		uni.getLocation({
			success: res => {
				console.log('location success', res)
				uni.openLocation({
					latitude: res.latitude,
					longitude: res.longitude,
					scale: 18
				})
			}
		})
	}
}
	

</script>

<style>
	
	
</style>
