<template>
<view>
		<zheader></zheader>

		 <view class="zhongjian_body">
			<view>
				<image src="../../static/icon/list.png" class="list_tupian"></image>
				<font id="peixun">培训课程</font>
			</view>
			
			<view class="peixun_ke_list">
				<view>
						<navigator url="../kecheng/jita">
							<image src="../../static/ke/11.jpg" class="peixun_ke"></image>
						</navigator>
					
						<navigator url="../kecheng/sheng">
						<image src="../../static/ke/22.jpg" class="peixun_ke_2"></image>
						</navigator>
					
					<br>
					<text class="ke_dibu"> 吉他培训</text>
					<text class="ke_dibu_2"> 声乐培训</text>
				</view>
				
			<view>
					<navigator url="../kecheng/gangqing">
							<image src="../../static/ke/33.jpg" class="peixun_ke"></image>
						</navigator>
					
						<navigator url="../kecheng/jiazigu">
						<image src="../../static/ke/44.jpg" class="peixun_ke_4"></image>
						</navigator>
					
					<br>
					
					<text class="ke_dibu"> 钢琴培训</text>
					<text class="ke_dibu_2"> 架子鼓培训</text>
				</view> 
				
				
				<view>
					<navigator url="../kecheng/guzheng">
							<image src="../../static/ke/55.jpg" class="peixun_ke"></image>
						</navigator>
						
					
						<navigator url="../kecheng/feizhougu">
						<image src="../../static/ke/66.jpg" class="peixun_ke_6"></image>
						</navigator>
						
						<text class="ke_dibu"> 古筝培训</text>
						<text class="ke_dibu_2"> 非洲鼓培训</text>
				</view> 
				
			</view> 
			
		</view> 
		
		<zfooter></zfooter>
		
	</view>

</template>

<script>
import zheader from '../public/zheader.vue'
import zfooter from '../public/zfooter.vue'

export default {
	name: 'index',
	components: {
		zheader,zfooter
	}
}

</script>

<style>
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	.zhongjian_body {
		background-color: rgb(245,245,249);
	}
	#peixun {
		font-size: 40rpx;
		font-weight: bold;
	}
	.peixun_ke_list {
		background-color: rgb(255,255,255);
		margin: center
	}
	.peixun_ke {
		width: 45%;
		height: 270rpx;
		margin-left: 3%;
		float: left;
	}
	.peixun_ke_2 {
		width: 45%;
		height: 270rpx;
		margin-right: 3%;
		float: right;
	}
	.ke_dibu {
		font-size: 38rpx;
		margin-left: 3%;
	}
	.ke_dibu_2 {
		font-size: 38rpx;
		margin-left: 28%;
	}
	.peixun_ke_4 {
		width: 45%;
		height: 270rpx;
		margin-right: 3%;
		float: right;
	}
	.peixun_ke_6 {
		width: 45%;
		height: 270rpx;
		float: right;
		margin-right: 3%;
	}

</style>
