<template>
  <div id="app">
      <header>
          <router-link to="/home">Home</router-link>
          <!-- router-link 的to属性要注意，路由是先进入到home,然后才进入相应的子路由如 phone,所以书写时要把 home 带上 -->
          <p>
              <router-link to="/home/phone">手机</router-link>
              <router-link to="/home/tablet">平板</router-link>
              <router-link to="/home/computer">电脑</router-link>
          </p>
      </header>
      <!-- 对应的组件内容渲染到router-view中 -->
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

</style>
