<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>
<style>
    @import "./assets/css/main.css";   
    @import "./assets/css/color-dark.css";     /*深色主题，导入全局的css*/
</style>