<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="http://jq.yeyese.top/vue/vue/vue.js"></script>
</head>
<body>

    
    <div id="app">
            <div id="components-demo">
                    <button-counter></button-counter>
                    <button-counter></button-counter>
                    <button-counter></button-counter>
                  </div>

    </div>
 


<script>
// var apptest = new Vue({
    Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})

new Vue({ 
    el: '#components-demo',
    
 })

// })
</script>


    
</body>
</html>