<template>
    <body id="poster">
    <el-form class="login-container" label-position="left" label-width="0px">
        <h3 class="login_title"> 系统登录</h3>

        <el-form-item >
            <el-input type="text" v-model="loginForm.username" auto-complete="off" placeholder="账号"></el-input>
        </el-form-item>

        <el-form-item >
            <el-input type="text" v-model="loginForm.password" auto-complete="off" placeholder="密码"></el-input>
        </el-form-item>

        <el-form-item style="width: 100%">
            <el-button type="primary" style="width: 100%;background: #505458;border: none" v-on:click="login">登录</el-button>
        </el-form-item>

    </el-form>

    </body>


</template>

<script>
  import {apiLogin2} from "../api/api";

  export default {
    name: 'Login',
    data () {
      return {
        loginForm: {
          username: '',
          password: ''
        },
        responseResult: []
      }
    },
    methods: {
      login () {
          var _this = this
          // console.log(this.$store.state)
          apiLogin2(
              // JSON.stringify(this.loginForm)
              // console.log(typeof(this.loginForm.username))  // 已经是String类型
              // console.log(JSON.stringify(this.loginForm))
              {
                  username: this.loginForm.username,
                  password: this.loginForm.password
              }

          ).then(res =>  {

              if(res == "success"){
                  _this.$store.commit('login',_this.loginForm)
                  var path = this.$route.query.redirect
                  // console.log("vue验证成功");
                  this.$router.replace({path: path === '/' || path === undefined ? '/index' : path})

              }
          }).catch(failResponse =>  {
              console.log(failResponse);
          })


      }
    }
  }
</script>

<style>
.login-container {
    border-radius: 15px;
    background-clip: padding-box;
    margin: 90px auto;
    width: 350px;
    padding: 35px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}

.login_title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
}
#poster {
    background:url("../assets/eva.jpg") no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
}
body{
    margin: 0px;
}


</style>
