<template>
	<view class="zi_body">
		<view>
				<image src="../../static/icon/list.png" class="list_tupian"></image>
				<font class="body_ding">古筝培训</font>
				
				<view class="zi_title">古筝培训</view>
					
				<view class="zj_wenzi">
					<text>
						教学内容:
						
						1.常用乐理知识的学习
						
						2.非洲鼓常用的表演形式介绍
						
						3.非洲鼓基本演奏技法
						
						4.非洲鼓配合表演的训练
						
						5.非洲文化的了解
						
						
						
					</text>
				</view>
				
		</view>
		
		<zfooter_zi></zfooter_zi>
		
	</view>
</template>

<script>
	import zfooter_zi from '../public/zfooter_zi.vue'
	
	export default {
		components:{
			zfooter_zi
		},
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
	.zi_body {
		background-color: rgb(245,245,249);
		height: 100vh;
	}
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	/* 以下是中间内容的样式 */
	.body_ding {
		font-size: 37rpx;
		font-weight: bold;
	}
	.zi_title{
		text-align: center;
		font-size: 35rpx;
	}
	.zj_wenzi {
		margin-left: 3%;
	}
</style>
