<template>
	<view class="zi_body">
		<view>
				<image src="../../static/icon/list.png" class="list_tupian"></image>
				<font class="body_ding">钢琴培训</font>
				
				<view class="zi_title">钢琴培训</view>
					
				<view class="zj_wenzi">
					<text>
					适合人群: 爱好钢琴，想专业学习钢琴的学员
					
					对学员要求: 有无基础皆可
					
					课时: 12节课（一对一教学，每节课45分钟）
					
					教学内容:
					  五线谱，节奏，钢琴指法，钢琴演奏
					
					预期效果:
					  熟练掌握五线谱并可以看谱子熟练弹奏的水平
					  
					
					
					</text>
				</view>
				
		</view>
		
		<zfooter_zi></zfooter_zi>
		
	</view>
</template>

<script>
	import zfooter_zi from '../public/zfooter_zi.vue'
	
	export default {
		components:{
			zfooter_zi
		},
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
	.zi_body {
		background-color: rgb(245,245,249);
		height: 100vh;
	}
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	/* 以下是中间内容的样式 */
	.body_ding {
		font-size: 37rpx;
		font-weight: bold;
	}
	.zi_title{
		text-align: center;
		font-size: 35rpx;
	}
	.zj_wenzi {
		margin-left: 3%;
	}
</style>
