<template>
	<view class="zi_body">
		<view>
				<image src="../../static/icon/list.png" class="list_tupian"></image>
				<font class="body_ding">架子鼓培训</font>
				
				<view class="zi_title">架子鼓培训</view>
					
				<view class="zj_wenzi">
					<text>
						适合人群:想学习架子鼓的学员
						对学员要求:有无基础皆可
						课时:12节课（一对一教学，每节课45分钟）
						
						教学内容:
						1.了解箱鼓的基本音色音区和技巧
						2.如何分配左右手以及如何击打节拍
						3.鼓谱的认识以及与五线谱的结合
						4.四分音符、八分音符、十六分音符的交错练习
						5.转变节奏训练
						6.从三连音到滚奏
						
					</text>
				</view>
				
		</view>
		
		<zfooter_zi></zfooter_zi>
		
	</view>
</template>

<script>
	import zfooter_zi from '../public/zfooter_zi.vue'
	
	export default {
		components:{
			zfooter_zi
		},
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
	.zi_body {
		background-color: rgb(245,245,249);
		height: 100vh;
	}
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	/* 以下是中间内容的样式 */
	.body_ding {
		font-size: 37rpx;
		font-weight: bold;
	}
	.zi_title{
		text-align: center;
		font-size: 35rpx;
	}
	.zj_wenzi {
		margin-left: 3%;
	}
</style>
