<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="http://jq.yeyese.top/vue/vue/vue.js"></script>
</head>
<body>

    
    <div id="blog-post-demo">
            <blog-post v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
            v-bind:body="post.body">
        </blog-post>

    </div>

    <template id="aa">
        <h3>标题:{{ title }} 正文:{{body}}</h3>
    </template>

<script>
     // 组件注册
    Vue.component('blog-post', {
        props: ['title','body'],  // props， 向组件传递数据
        template: '#aa'        // 模板绑定视图
})

    new Vue({
        el: '#blog-post-demo',
        data: {
            posts: [
                { id: 1,title: 'My journey with Vue',body: 'xx'},
                { id: 2,title: 'Blogging with Vue',body: 'yy'},
                { id: 3,title: 'Why Vue is so fun',body: 'zz'}
    ]
  }
})

</script>


    
</body>
</html>