<template>
    <div>
        <h1> 我是user组件</h1>
        <div>
            我是user组件，动态部分是 {{ dynamicSegment  }}
        </div>
    </div>

</template>

<script>
    export default {
        computed: {
            dynamicSegment(){
                return this.$route.params.id
            }
        }
    }
</script>

<style scoped>

</style>