<template>
    <!-- 底部开始 -->
    <div class="footer">
        <ul>
            <li v-for="item in footerlist" :key="item.url">
                <router-link :to="item.url">{{ item.content }}</router-link>
            </li>

        </ul>
    </div>
    <!-- 底部结束 -->
</template>

<script>
    // 因为是个组件，所以需要data形式return 出去
    export default {
        name: "footer",
        data(){
            return {
                footerlist: [
                    {content: '首页', url: "/home"},
                    {content: '关于我们', url: "/about"},
                    {content: '帮助中心', url: "/contact"},
                    {content: 'xx技术有限公司版权所有', url: "/home"},
                    {content: '粤ICP备19081537号', url: "https://beian.miit.gov.cn"},
                ]
            }
        }

    }
</script>

<style scoped>
    .footer{
        width: 100%;
        height: 60px;
        background: #f5f5f5;
        border-top: 1px solid #ccc;
        bottom: 0px;
        position: absolute;
        /* position: absolute;
        bottom: 0; */
    }
    .footer ul{
        padding: 0;
        width: 1000px;
        margin: 0 auto;
        height: 100%;
    }
    .footer ul li{
        line-height: 60px;
        float: left;
        color: #999;
        list-style: none;
    }
    .footer ul li a{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
</style>