<template>
    <div class="gs-quick-menu">
    <div class="container">
        <!-- 头部左边 -->
        <div class="gs-profile">
            <span>你好，游客</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span><router-link to="/Login">请登录</router-link></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span><router-link to="/Register">免费注册</router-link></span>
        </div>
        <!-- 头部右边 -->
        <ul class="gs-nav">
            <li class="gs-nav-item">
                <router-link class="gs-link" to="/order">我的订单</router-link>
            </li>
            <li class="gs-nav-item">
                <router-link class="gs-link" to="/cart">
                    <i class="fa fa-shopping-cart"></i>&nbsp;购物车
                </router-link>
            </li>
            <li class="gs-nav-item">
                <span class="gs-link gs-forbid">收藏夹</span>
            </li>
            <li class="gs-nav-item">
                <span class="gs-link gs-forbid">商家入口</span>
            </li>
        </ul>
    </div>
    </div>

</template>

<script>
    export default {
        name: "header.vue"
    }
</script>

<style scoped>
    .container{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    .gs-link {
        color: #999;
        text-decoration: none;
        outline: none;
    }
    .gs-forbid {
        cursor: not-allowed;
    }
    .gs-menu-bg {
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #e5e5e5;
    }
    .gs-header {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .gs-quick-menu {
        position: relative;
        font-size: 12px;
        color: #999;
        background-color: #f2f2f2;
        height: 30px;
    }
    .gs-profile {
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
        float: left;
    }
    .gs-nav {
        display: inline-block;
        line-height: 30px;
        list-style: none;
        margin: 0;
        float: right;
    }
    .gs-nav-item {
        margin-left: 12px;
        display: inline-block;
    }
</style>