<template>
  <div id="app">
    <hello></hello>
    <Home2></Home2>
    <!-- 绑定自定义的属性值到当前组件,以下是父组件向子组件传数据 -->
    <!-- <user v-bind:user="42"></user> -->
    <user v-bind:user="user"></user>

    
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'   // 先导入，后面注册即可关联
import Home2 from './components/Home.vue'
import User from './components/User.vue'

export default {
  name: 'app',
  data(){
      return {
        // user:[{"name":"tom","sex":"man"},{"city":"cs"}]
        user:"aaaaaaaaaaa-----xxxx"
      }
  },
  components: {   // 组件注册到根组件中
     'hello':HelloWorld,   // key随便定义，标签使用的时候用key
    Home2,
    'user':User
  }
}
</script>

<style>
#app {
  text-align: center;
}
</style>
