<template>
	<view>
		<view>
			
				<image src="../../static/icon/list.png" class="list_tupian"></image>
				<font class="body_ding">学员反馈</font>
			
		</view>
		
		<view>
			<image src="../../static/xueyuan/xue-1.png" mode="widthFix"></image>
			<image src="../../static/xueyuan/xue-2.png" mode="widthFix"></image>
			<image src="../../static/xueyuan/xue-3.png" mode="widthFix"></image>
		</view>
		
		<zfooter_zi></zfooter_zi>
		
	</view>
</template>

<script>
	import zheader from '../public/zheader.vue'
	import zfooter_zi from '../public/zfooter_zi.vue'
	
	export default {
		components: {
			zheader,zfooter_zi
		},
		data() {
			return {
				
			}
		}
	}
</script>

<style>
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	.body_ding {
		font-size: 37rpx;
		font-weight: bold;
	}

</style>
