<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="http://jq.yeyese.top/vue/vue/vue.js"></script>
</head>
<body>

    <div id="app">
            <div id="example-6">
                    <select v-model="selected" multiple style="width: 50px;">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>
                    <br>
                    <span>Selected: {{ selected }}</span>
                  </div>

    </div>
 


<script>
    new Vue({
    el: '#example-6',
    data: {
        selected: []
    }
    })
</script>


    
</body>
</html>