<template>
    <div class="sidebar">
        <el-menu
            class="sidebar-el-menu"
            :default-active="onRoutes"
            :collapse="collapse"
            background-color="#324157"
            text-color="#bfcbd9"
            active-text-color="#20a0ff"
            unique-opened
            router>

       <!-- 系统首页 -->
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-lx-home"></i>
          <span>系统首页</span>
        </template>
      </el-submenu>

    <!-- 基础样本模板-->
      <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-lx-calendar"></i>
          <span>样本模板</span>
        </template>

        <el-menu-item-group>
        <el-menu-item index="/table">基础表格</el-menu-item>
        </el-menu-item-group>
      </el-submenu>

    <!-- 审批管理-->
      <el-submenu index="3">
        <template slot="title">
          <i class="el-icon-s-promotion"></i>
          <span>审批管理</span>
        </template>

        <el-menu-item-group>
        <el-menu-item index="/msg">消息中心</el-menu-item>
        </el-menu-item-group>
      </el-submenu>

       <!-- 资产管理页-->
      <el-submenu index="4">
        <template slot="title">
          <i class="el-icon-s-grid"></i>
          <span>资产管理</span>
        </template>

        <el-submenu index="4-1">
        <template slot="title">
          <span>资产列表</span>
        </template>

          <el-menu-item-group>
            <el-menu-item index="/servertable" >服务器</el-menu-item>
            <el-menu-item index="/dbtable" >数据库</el-menu-item>
          </el-menu-item-group>
        </el-submenu>  

        <el-menu-item >
            <span @click="OnClickBl()">堡垒机</span>
        </el-menu-item> 
 

      </el-submenu>

        <!-- 作业平台 -->
        <el-submenu index="7">
        <template slot="title">
          <i class="el-icon-video-camera-solid"></i>
          <span>作业平台</span>
        </template>

        <el-submenu index="7-1">
        <template slot="title">
          <span>作业执行</span>
        </template> 
          <el-menu-item-group>
              <el-menu-item index="">新建任务</el-menu-item>
              <el-menu-item index="/task/tasklist">任务执行列表页</el-menu-item>
              <el-menu-item index="">定时任务</el-menu-item>
          </el-menu-item-group>
        </el-submenu>  

        <el-submenu index="7-2">
        <template slot="title">
          <span>作业管理</span>
        </template> 
          <el-menu-item-group>
              <el-menu-item index="/task/script">脚本管理</el-menu-item>
              <el-menu-item index="/task/playbook">剧本管理</el-menu-item>
              <el-menu-item index="">主机组管理</el-menu-item>
              <el-menu-item index="">执行账户管理</el-menu-item>
          </el-menu-item-group>
        </el-submenu>  

        <el-menu-item index="baolei"><span>执行历史</span></el-menu-item> 
      </el-submenu>   

          <!-- 系统设置-->
      <el-submenu index="5">
        <template slot="title">
          <i class="el-icon-lx-warn"></i>
          <span>系统设置</span>
        </template>

		<el-menu-item-group>
      <el-menu-item index="/permission">权限测试页</el-menu-item>
        <el-menu-item index="/403">403页</el-menu-item>
        <el-menu-item index="/404">404页</el-menu-item>
        <el-menu-item index="/test">个人中心</el-menu-item>
        <el-menu-item index="/umanager">用户管理</el-menu-item>
    </el-menu-item-group>
      </el-submenu>
    
     <!-- 超级管理-->
    <el-submenu index="6" v-show="isShow">
      <template slot="title">
        <i class="el-icon-setting"></i>
        <span>超级管理</span>
      </template>

      <el-menu-item-group>
        <el-menu-item index="/sys/super">超级用户管理</el-menu-item>
      </el-menu-item-group>			
    </el-submenu>

<!-- ---分割页 -->
</el-menu>
</div>
</template>

<script>
import bus from '../common/bus';
export default {
    data() {
        return {
            collapse: false,
            isShow:false,    // 设置默认是隐藏的
        };
    },
    computed: {
        onRoutes() {
            return this.$route.path.replace('/', '');
        }
    },
    methods: {
      OnClickBl(){
        console.log("你点击了堡垒机");
        window.open("https://www.baidu.com");        // 跳转到外链

    }

    },
    created() {
        // 通过 Event Bus 进行组件间通信，来折叠侧边栏
        bus.$on('collapse', msg => {
            this.collapse = msg;
            bus.$emit('collapse-content', msg);
            let ms_role_id = sessionStorage.getItem('ms_role_id');
            // 通过角色id来判断菜单是否隐藏
            if(ms_role_id < 200){
              this.isShow=true;
              
            }
        });
        const arr = this.$route;
        // console.log(arr)

    }


};
</script>

<style scoped>
.sidebar {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    width: 0;
}
.sidebar-el-menu:not(.el-menu--collapse) {
    width: 250px;
}
.sidebar > ul {
    height: 100%;
}
</style>
