<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="http://jq.yeyese.top/vue/vue/vue.js"></script>
</head>
<body>
	 <!-- 多行文本 -->

    <div id="app">
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="add multiple lines"></textarea>

    </div>
 


<script>
    var example1 = new Vue({
        el: '#app',
        data: {
        message: ""
    }
})

</script>


    
</body>
</html>