<template>
  <div class="hello">
    <h1> my name is: {{ msg }}</h1> 
    <button v-on:click="gm">改名</button>
    
    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',    // name 和文件名一致，根组件导入的时候用这个名进行注册和导入
                        // 模板中只能通过一个根组件,div 或者 p标签包裹
  data(){               // 组件化中data这样展示,通过return
    return{
      msg: "knight"
    }
  },
  methods:{                 // 定义改名的方法，上面的模板绑定了点击事件，点击事件是绑定的gm的方法
    gm:function(){
      this.msg="rose"
    }
  }
 

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
