<template>
    <div>
        {{ msg }}
    </div>
</template>


<script>
export default {
    // name: Home2,     // 使用default 可以匿名
    data(){
        return{
            msg: " I am Home page"
        }
    }
    
}
</script>


<style scoped>

</style>

