<template>
    <div class="">
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item><i class="el-icon-lx-copy"></i> 我的审批</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <el-tabs v-model="message">
                <el-tab-pane :label="`未处理(${unread.length})`" name="first">
                    <el-table :data="unread" :show-header="false" style="width: 100%">
                        <el-table-column>
                            <template slot-scope="scope">
                                <span class="message-title">{{scope.row.title}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="date" width="180"></el-table-column>
                        <el-table-column width="250">
                            <template slot-scope="scope">
                                <el-button size="small" @click="handleDetail(scope.$index,scope.row)">详情</el-button>
                                <el-button size="small" @click="handleRead(scope.$index)">通过</el-button>
                                <el-button size="small" style="color:red" @click="handleBohui(scope.$index,scope.row)">驳回</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="handle-row">
                        <el-button type="primary">全部通过</el-button>
                    </div>
                </el-tab-pane>
                <el-tab-pane :label="`已通过(${read.length})`" name="second">
                    <template v-if="message === 'second'">
                        <el-table :data="read" :show-header="false" style="width: 100%">
                            <el-table-column>
                                <template slot-scope="scope">
                                    <span class="message-title">{{scope.row.title}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="date" width="150"></el-table-column>
                            <el-table-column width="120">
                                <template slot-scope="scope">
                                    <!-- <el-button type="danger" @click="handleDel(scope.$index)">详情</el-button> -->
                                    <el-button type="danger" @click="handleDetail(scope.$index,scope.row)">详情</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="handle-row">
                            <el-button type="danger">删除全部</el-button>
                        </div>
                    </template>
                </el-tab-pane>
                <el-tab-pane :label="`已驳回(${recycle.length})`" name="third">
                    <template v-if="message === 'third'">
                        <el-table :data="recycle" :show-header="false" style="width: 100%">
                            <el-table-column>
                                <template slot-scope="scope">
                                    <span class="message-title">{{scope.row.title}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="date" width="150"></el-table-column>
                            <el-table-column width="120">
                                <template slot-scope="scope">
                                    <el-button @click="handleDetail(scope.$index,scope.row)">详情</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="handle-row">
                            <el-button type="danger">清空回收站</el-button>
                        </div>
                    </template>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'tabs',
        data() {
            return {
                message: 'first',
                showHeader: false,
                unread: [{
                    date: '2018-04-19 20:00:00',
                    title: 'uapi灰度发布审批',
                },{
                    date: '2018-04-19 21:00:00',
                    title: 'crm-api 发布申请',
                }],
                read: [{
                    date: '2018-04-19 20:00:00',
                    title: 'interface发布申请'
                },{
                    date: '2018-04-19 21:00:00',
                    title: 'oversea发布申请'
                },{
                    date: '2018-04-19 21:05:00',
                    title: 'rcs发布申请'
                }],
                recycle: [{
                    date: '2018-04-19 20:00:00',
                    title: 'purchase 采购系统发布申请'
                }]
            }
        },
        methods: {
            handleRead(index) {
                const item = this.unread.splice(index, 1);
                this.read = item.concat(this.read);
            },
            //已通过的详情展示页
            // handleDetail(index) {
            handleDetail(index,row) {
                // console.log(row)             // 显示详情
                console.log(row.title);
            },
            handleBohui(index,row) {
                console.log("驳回"+row.title);
                const item = this.unread.splice(index, 1);
                this.recycle=item.concat(this.recycle)
            }

        },
        computed: {
            unreadNum(){
                return this.unread.length;
            }
        }
    }

</script>

<style>
.message-title{
    cursor: pointer;
}
.handle-row{
    margin-top: 30px;
}
</style>

