<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i> 服务器列表
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <el-table
                :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
                @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55" align="center"></el-table-column>
                <el-table-column prop="id" label="资产ID" width="65" align="center"></el-table-column>
                <el-table-column prop="name" label="实例名称"></el-table-column>
                <el-table-column prop="type" label="类型" width="90"> </el-table-column>
                <el-table-column prop="engine" label="Engine" width="90"></el-table-column>
                <el-table-column prop="version" label="Version" width="80"></el-table-column>
                <el-table-column prop="date" label="创建时间" ></el-table-column>

            </el-table>


            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>
    </div>

</template>

<script>
import { fetchData } from '../../api/dblist';   // 导入数据源

export default {
    name: 'dbtable',
    data() {
        return {
            query: {
                engine: '',
                name: '',
                pageIndex: 1,
                pageSize: 10
            },
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    methods: {
        // 获取表格列表
        getData() {
            fetchData(this.query).then(res => {
                console.log(res);
                this.tableData = res.list;
                this.pageTotal = res.pageTotal || 50;
            });
        }

    }
};


</script>

<style lang="stylus" scoped>

</style>