<template>
<div>

    <!-- 测试饿了么组件库(https://element.eleme.cn/#/zh-CN/component/button) -->
  <el-row>
  <el-button>默认按钮</el-button>
  <el-button type="primary" >主要按钮</el-button>
  <el-button type="success">成功按钮</el-button>
  <span id="xx">我是测试css的</span>

</el-row>

</div>

</template>

<script>
export default {
    
}
</script>

<style  scoped>

#xx{
  color:red;
}

</style>