<template>
    <div class="home">
        <shopheader></shopheader>
        <shopfooter></shopfooter>
    </div>


</template>

<script>
    import shopheader from "./common/shopheader";
    import shopfooter from "./common/shopfooter";

    export default {
        name: 'home',
        components: {
            shopheader,shopfooter
        }

    }
</script>

<style scoped>

</style>