<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>demo</title>
  <script src="http://jq.yeyese.top/jq/1.11.1/jquery.min.js"></script>
  <script src="http://jq.yeyese.top/vue/2.2.2/vue/vue.min.js"></script>
 
</head>
<body>
  <div id="app">
    {{message }}<br>
    <button v-on:click="showData">测试jquery加载数据</button>
    <table border="1">
      <tr v-for="data in datas">
        <td>{{data.Name}}</td>
        <td>{{data.Url}}</td>
        <td>{{data.Country}}</td>
      </tr>
    </table>
  </div>
 
 
  <script src="app.js"></script>
</body>
</html>