<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>事件处睆</title>
    <script src="http://jq.yeyese.top/vue/vue/vue.js"></script>
</head>
<body>

        <div id="example-1">
                <button v-on:click="counter += 1">Add 1</button>
                <p>The button above has been clicked {{ counter }} times.</p>
              </div>
    
<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
        counter: 0
    }
})

</script>


    
</body>
</html>