<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="http://jq.yeyese.top/vue/vue/vue.js"></script>
</head>
<body>

        <div id="example-2">
                <button v-on:click="greet">test</button>
                <p>The button above has been clicked {{ counter }} times.</p>
              </div>
    
<script>
  var example2 = new Vue({
  el: '#example-2',
  data: {
    name: 'Vue.js',
    counter: 0
  },
  // ? `methods` ???????
  methods: {
    greet: function (message) {
      // `this` ???????? Vue ??
    //   alert('Hello ' + this.name + '!')
      console.log("hello world")
      // `event` ??? DOM ??
      if (event) {
        alert(event.target.tagName)
      }
    }
  }
})


</script>


    
</body>
</html>