<template>
    <div class="xxoo">
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <i class="el-icon-lx-cascades"></i>任务执行列表页
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <div class="handle-box">
                <el-input v-model="query.name" placeholder="搜你想搜的" class="handle-input mr10"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
                <el-button type="primary" icon="el-icon-edit"  @click="CreateScript">新建脚本</el-button>
            </div>
            
            <el-table :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header">

                <el-table-column prop="id" label="作业ID"></el-table-column>
                <el-table-column prop="name" label="作业名称"></el-table-column>
                <el-table-column prop="type" label="类型" width="90"> </el-table-column>
                <el-table-column prop="creator" label="创建人" width="90"></el-table-column>
                <el-table-column prop="date" label="创建时间" ></el-table-column>
                <el-table-column prop="status" label="状态" >
                    <template slot-scope="scope">
                        <span style="color:green">{{ scope.row.status | filStatus}}</span>
                    </template>
                </el-table-column>

                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
                        <el-button type="text" icon="el-icon-edit" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button type="text" icon="el-icon-delete"  @click="handleDelete(scope.$index,scope.row)">删除</el-button>
                    </template>
                </el-table-column>

            </el-table>

            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
            <el-form ref="form" :model="form" label-width="70px">
                <el-form-item label="用户名">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="类型">
                    <el-input v-model="form.type"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveEdit">确 定</el-button>
            </span>
        </el-dialog>

       <!-- 新建脚本弹出框,使用的是form1 -->
      <el-dialog title="新建脚本" :visible.sync="createVisible"  width="30%">
            <el-form ref="form1" :model="form1" label-width="70px" >
                <el-form-item label="脚本名称">
                    <el-input v-model="form1.name"></el-input>
                </el-form-item>
                <el-form-item label="脚本类型">
                    <el-input v-model="form1.type"></el-input>
                </el-form-item>
                
                <div class="xxoo_name"><span>本地脚本: </span></div>

                <el-upload
                    class="upload-demo"
                    action="http://127.0.0.1:5000/api/upload_file"
                    :on-change="handleChange"
                    :on-success="handleSuc"
                    :file-list="fileList">
                   <el-button size="small" type="primary" >点击上传</el-button>
                    <div slot="tip" style="color:red;margin-left: 180px;">只能上传sh/py/pl 类型的文件</div>
                </el-upload>
                <el-form-item label="脚本描述">
                    <el-input v-model="form1.remark" type="textarea" placeholder="请输入脚本备注或者描叙" id="xxoo_remark"></el-input>
                </el-form-item>
            </el-form> 

            <span slot="footer" class="dialog-footer">
                <el-button @click="createVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveEdit1">确 定</el-button>
            </span>
        </el-dialog>


    </div>
</template>

<script>
import { fetchData } from '../../api/scriptlist';   // 导入数据源
import { fetchDatadbupdate } from '../../api/dbupdate';   // 更新数据库接口
import { fetchDataScript } from '../../api/addscript';   // 更新数据库接口

export default {
    name: 'dbtable',
    data() {
        return {
            fileList: [],    // 用于回显
            query: {
                name: '',
                status: '',
                pageIndex: 1,
                pageSize: 10
            },
            tableData: [],
            multipleSelection: [],
            delList: [],
            editVisible: false,
            createVisible:false,
            pageTotal: 0,
            form: {},
            form1:{},    // 新建脚本的表单框使用
            idx: -1,
            id: -1
        };
    },
    filters:{
        filStatus(v){
            if(v === 0){
                return '未通过'
            } else {
                return '已通过'
            }
        }
    },
    created() {
        this.getData();
    },
    methods: {
        handleRemove() {},
        handleChange(file) {
            console.log('file',file)
        },
        handleSuc(file) {
            console.log(file)
        },
        // 获取 get的数据,只有已经审批过的才会在列表页显示
        getData() {
            fetchData(this.query).then(res => {
                console.log(res); 
                this.tableData = res.list;   // es6的简写
                this.pageTotal = res.pageTotal || 50;
            });
        },
        // 触发搜索按钮
        handleSearch() {
            this.$set(this.query, 'pageIndex', 1);
            console.log(this.query);    // 打印输出
            this.getData();
        },
        // 删除操作
        handleDelete(index, row) {
            // 二次确认删除
            this.$confirm('确定要删除吗？', '提示', {
                type: 'warning'
            })
                .then(() => {
                    this.$message.success('删除成功');
                    this.tableData.splice(index, 1);
                })
                .catch(() => {});
        },
         // 编辑操作
        handleEdit(index, row) {
            this.idx = index;
            // console.log(index);     // 输出id号
            this.form = row;
            // console.log(row.type);      //输出了类型type
            // console.log(row.name);      //输出了name
            this.editVisible = true;
        },
        // 保存编辑
        saveEdit() {
            this.editVisible = false;
            this.$message.success(`修改第 ${this.idx + 1} 行成功`);  // 保存成功提示内容
            fetchDatadbupdate({            // 更新数据发送get请求给后端
                name: this.form.name,     // 传参给后端
                type: this.form.type
            }).then(res=>{
                console.log(res);
                this.$set(this.tableData, this.idx, this.form);  // 实际操作内容
            })
            console.log(this.form.name);    // 保存标记打印输出内容
            // console.log(this.idx);           //输出的是id号
        },
        // 创建脚本
        CreateScript(index, row) {
            this.idx = index;
            console.log(row);
            this.createVisible = true;
    
        },
        saveEdit1(){
            this.createVisible = false;
            fetchDataScript({
                name: this.form1.name,
                type: this.form1.type,
                remark: this.form1.remark,
            }).then(res=>{
                console.log(res);    // 输出回调函数
            })
        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
/* 图标css */
.table-td-thumb {                   
    display: block;
    margin: auto;
    width: 50px;
    height: 40px;
}

/* 深度选择器 */
.xxoo >>> .el-upload--text{
    width: 100px  !important;
    height: 40px;
    margin: 0 auto;
    margin-left: 220px;
}

.xxoo >>> .xxoo_name {
    position: absolute;
    top: 195px;
}



</style>

// 使用id选择器要不能使用scoped，所以需要新建style
<style>
#xxoo_remark{
    height:60px;
}
</style>
