<template>
	
	<view>
		
		
	</view>

</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		created() {
			wx.makePhoneCall({
				phoneNumber:'13530458656'
			})
		}
	}
	

</script>

<style>
	
	
</style>
