<template>
	<view>
		<view>
				<image src="../../static/icon/list.png" class="list_tupian"></image>
				<font class="body_ding">关于我们</font>
		</view>
		
		<view>
			<text>
				<text class="p1_name">深圳市纵乐音乐培训中心</text>是深圳市一家专业音乐培训机构。
				从2013年办学以来机构培养的歌手在国内外各类音乐比赛中勇夺数各种大奖，力求争得行业龙头。
				
				&nbsp;&nbsp;&nbsp; 教师团队由知名声乐专家导师组成，多年的教学经验可使学员的歌唱水平在极短时间内大幅提高。 
				
				&nbsp;&nbsp;&nbsp; 机构成立七年来，所培养的学生在德国、维也纳、新加坡等国际声乐比赛中勇夺600多项大奖，同时有近百位学员考入各类音乐学院。
				
				&nbsp;&nbsp;&nbsp; 其中美女歌手战月源、汤雅雯，歌坛新星陈植楠、李栋旭，天才童声陈乐霏、容振珲等学员在机构导师的培育下一举成名。
				
				&nbsp;&nbsp;&nbsp;纵乐音乐还和清吧等场所合作, 为你铺就一条通往音乐艺术殿堂的光明大道。
				
			</text>
		
		</view>
		<zfooter></zfooter>
		
	</view>
</template>

<script>
	import zheader from '../public/zheader.vue'
	import zfooter_zi from '../public/zfooter_zi.vue'
	
	export default {
		components: {
			zheader,zfooter_zi
		},
		data() {
			return {
				
			}
		}
	}
</script>

<style>
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	.body_ding {
		font-size: 37rpx;
		font-weight: bold;
	}
	.name{
		color: #A80D82;
		font-weight: bold;
		margin-left: 5%;
	}
	.p1_name  {
		font-weight: bold;
		margin-left: 3%;
		color: #A80D82;
	}
</style>
