<template>
  <div id="app">
    <HelloWorld></HelloWorld>
    <Home2></Home2>
    
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'   // 先导入，后面注册即可关联
import Home2 from './components/Home.vue'

export default {
  name: 'app',
  components: {   // 组件注册到根组件中
    HelloWorld,
    Home2
  }
}
</script>

<style>
#app {
  text-align: center;
}
</style>
