<template>
  <div id="app">
    <shopheader></shopheader>
    <router-view></router-view>
    <shopfooter></shopfooter>

  </div>
</template>

<script>
  import shopheader from "./components/common/shopheader";
  import shopfooter from "./components/common/shopfooter";

export default {
  name: 'App',
  components: {
    shopheader,shopfooter
  }
}
</script>

<style>

</style>
