<template>
	<view class="zi_body">
		<view>
				<view class="zj_wenzi">
					<text>
						地址：
						&nbsp;&nbsp;&nbsp;深圳龙华新区民治大道435号恒科商业广场5楼
						&nbsp;&nbsp;&nbsp;地铁：五号线民治站D出口直达（约300米）
						
						公交：东边站
						
						课程咨询: 135 3045 8656 (同微信)
						
						专业咨询: 135 3045 8656 (同微信)
					</text>
				</view>
				
				<zfooter_zi></zfooter_zi>
				
		</view>
		
	</view>
</template>

<script>
	import zfooter_zi from '../public/zfooter_zi.vue'
	
	export default {
		components:{
			zfooter_zi
		},
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
	.zi_body {
		background-color: rgb(245,245,249);
		height: 100vh;
	}
	.list_tupian {
		height: 40rpx;
		width: 40rpx;
	}
	/* 以下是中间内容的样式 */
	.body_ding {
		font-size: 37rpx;
		font-weight: bold;
	}
	.zi_title{
		text-align: center;
		font-size: 35rpx;
	}
	.zj_wenzi {
		margin-left: 3%;
	}
</style>
