<template>

		<view class="foot_zl">
				<view class="wenzi_foot">
					课程咨询: 135 3045 8656 (同微信)
					<br>
					课程咨询: 135 3045 8656 (同微信)
					<br>
					深圳龙华新区民治大道435号恒科商业广场5楼
					<br>
				</view>
				
				<image src="../../static/wechat/m_wechat.png" mode="aspectFit" class="foot_wechat"></image>
			</view>
			

</template>

<script>
export default {
	name:'zfooter_zi',
	data() {
		return {
			
		}
	}
}
</script>

<style>	
	.foot_zl {
		background-color: #a80d82;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.foot_wechat {
		width: 300rpx;
		height: 300rpx;
		margin-left: 25%;
	}
	.wenzi_foot {
		text-align: center;
		color: #ffffff;
		font-size: 35rpx;
	}
</style>
