<template>
	
 		<view>
			<image src="../../static/img/logo/logo.jpg" mode="widthFix" class="zongle_header-logo"></image>
			<view class="head_zl">
				<navigator url = "../index/index" class="nav"> <font class="head_ziti">首页</font></navigator>
				<navigator url="../about/about" class="nav"><font class="head_ziti">关于我们</font></navigator>
				<navigator url="../xueyuan/xyfankui" class="nav"><font class="head_ziti">学员反馈</font></navigator>
				<navigator url="../lianxi/lianxiwomen" class="nav"><font class="head_ziti">联系我们</font></navigator>
			</view>
			
			<view>
				<uni-swiper-dot :info="info" :current="current" field="content" :mode="mode">
				    <swiper class="swiper-box" @change="change" autoplay="true">
				        <swiper-item v-for="(item ,index) in info" :key="index">
				            <view class="swiper-item">
								<image :src="item.content" mode="" class="lunbotu"></image>
				            </view>
				        </swiper-item>
				    </swiper>
				</uni-swiper-dot>
				
			</view> 
		
		</view>	
	
</template>

<script>
import uniSwiperDot from "@/components/uni-swiper-dot/uni-swiper-dot.vue"
	export default {
		name: "zheader",
		components: {uniSwiperDot},
		data() {
			return {
       info: [{
                content: '../../static/banner/b1.jpg'
            }, {
                content: '../../static/banner/b2.jpg'
            }, {
                content: '../../static/banner/b3.jpg'
            }],
            current: 0,
            mode: 'default',
			}
		},
		methods:{
			change(e) {
				this.current = e.detail.current;
			}
			
		}
	}
	
	
</script>

<style>
	.zongle_header-logo{
		text-align: center;
		margin-left: 15%;
	}
	.lunbotu {
		width: 800rpx;
		height: 340rpx;
	}
	.nav {
		display: inline;
		margin-left: 3%;
	}
	.head_zl {
		background-color: #a80d82;
	}
	.head_ziti {
		color: #F8F8F8;
		font-size: 150%;
		margin-left:1.2%;
	}

	
</style>
