<template>
 <view class="content">
  <web-view src="https://www.meituan.com/xuexipeixun/634661377"></web-view>
 </view>
</template>

<script>
 export default {
  data() {
   return {
    title: 'Hello'
   }
  },
  onLoad() {

  },
  methods: {

  }
 }
</script>

<style>

</style>